<div class="login-title">Live Studio Project</div>
<div class="login">
    <div class="login-main">
        <div class="login-modal">
            <div class="sign-title">Hicardi</div>
            <div class="sign-account"><input class="sign-input" id="sign-id" type="text" placeholder="Account" [(ngModel)]="inputID"/></div>
            <div class="sign-password"><input class="sign-input" id="sign-password" type="password" placeholder="Password" [(ngModel)]="inputPassWord"/></div>
            <div class="sign-in" (click)="sendData()">SIGN IN</div>
            <!--  routerLink="/live-studio" routerLinkActive="active"  -->
        </div>
    </div>
</div>