<div class="trend-data-box">
    <div id="heart-rate">
        <div class="title"><span>Heart Rate</span><div>{{heartRateBPM}}</div></div>
        <div id="heart_data" class="heart_{{spaceIndex}}"></div>
        <div id="heart_axis" class="heart_axis{{spaceIndex}}"></div>
    </div>
    <div class="trend-bottom">
        <div id="respiration-rate">
            <div class="title"><span>Respiration Rate</span><div></div></div>
            <div id="respiration-data" class="respiration_{{spaceIndex}}"></div>
            <div id="respiration_axis" class="respiration_axis{{spaceIndex}}"></div>
        </div>
        <div id="temperature-rate">
            <div class="temp_{{spaceIndex}}"></div>
        </div>
    </div>
</div>